.section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    min-width: 300px;
    padding: 16px;
    background-color: #fff7;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.formControl{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.errorMessage{
    color: red;
    background-color: #fff9;
    padding: 8px;
    border-radius: 4px;
}