.container{
    height: 100px;
    border-top: 1px solid #0000001F;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.innerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}