.container {
    display: flex;
    flex-direction: row;
    background: #fff;
}
.containerBar {
    display: flex;
    flex-direction: row;
    background: #fff;
    padding-bottom: 100px;
}
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #EDF0F4;
    color: #000000DE;
    justify-content: space-between;
}

.layout {
    position: relative;
}
.footerBar {
    height: 48px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00000099;
    font-size: 12px;
}