.container {
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #EDF0F4;
    color: #000000DE;
}
.footerBar{
    height: 48px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00000099;
    font-size: 12px;
}
.titleBar{
    height: 60px;
    width: 100%;
    background-color: #fff;
}

.layout {
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0;
    min-height: 70vh;
    max-width: var(--max-width);
    /* background: var(--background-color); */
    margin: auto;
}