.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--libling-main-ui-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--libling-main-ui-color);
    box-shadow: 0px 6px 12px #1973FA29;
    cursor: pointer;
    flex-grow: 0;
}

.iconFunc{
    font-size: 24px;
    color: #FFFFFFBC;
}

.buttonPressed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-pressed-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-pressed-color);
    box-shadow: 0px 6px 12px #1973FA29;
    flex-grow: 0;

}

.buttonDisabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    color: #fff;
    background-color: #00000061;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid #00000061;
    flex-grow: 0;

}

.icon {
    font-size: 24px;
    padding: 4px;
    color: #fff;
}

.loader {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin: 8px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 1.25s linear infinite alternate;
}


@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}

@media (hover: hover) {

    .button:hover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        color: #fff;
        background-color: var(--button-flat-hover-color);
        border-radius: 24px;
        font-size: 16px;
        outline: none;
        border: 1px solid var(--button-flat-hover-color);
        box-shadow: 0px 6px 12px #1973FA29;
        flex-grow: 0;
    }
}
@media (width <= 500px) {
    .button{
        flex-grow: 1;
    }
    .button:hover{
        flex-grow: 1;
    }
    .buttonPressed{
        flex-grow: 1;
    }
    .buttonDisabled{
        flex-grow: 1;
    }
}