.navbar {
    background-color: var(--libling-main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--navbar-text-color);

}

.innernav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 14px 112px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* max-width: var(--max-width); */

}

.innernav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 64px;
    font-size: 24px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.selectedLink {
    border-bottom: 4px solid #fff;
}

.formSelector {
    position: absolute;
    right: 24px;
    top: 38px
}


@media (max-width: 700px) {
    .innernav {
        justify-content: center;
        padding: 14px 24px;
    }

    .innernav>ul {
        display: none;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .innernav {
        justify-content: center;
        padding: 14px 24px;
    }

    .innernav>ul {
        display: none;
    }
}