.card {
    background-color: #fff;
    box-shadow: 0px 2px 4px #1973FA1A;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardTop {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0px 2px 4px #1973FA1A;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.listTools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.cardTitle {
    font-size: 18px;
    color: #000000DE;
}

.cardContent {
    flex-grow: 1;
    padding: 20px 4px;
    padding-top: 4px;
}

.tabContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.tab {
    padding: 16px;
    font-size: 14px;
    color: #00000099;
    cursor: pointer;
}

.selectedTab {
    padding: 16px;
    font-size: 14px;
    color: #1973FA;
    border-bottom: 2px solid #1973FA;
    cursor: pointer;

}

.tableContainer {
    /* border-collapse: separate; */
    /* border-spacing: 20px; */
    width: 100%;
    padding: 0px 24px;
    font-size: 14px;
}

.tableContainer tbody tr:last-child td {
    border-bottom: 1px solid #0000001F;
}

.tableContainer tbody tr td {
    padding: 16px 0px;
    padding-right: 20px;
    overflow: hidden;
}

.tableContainer thead th {
    padding: 26px 0px;
    padding-right: 20px;
    border-bottom: 1px solid #0000001F;
    text-align: left;
}

.basicContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.basicMini {
    border-radius: 10px;
}

.basicTextContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.basicSubtitle {
    font-size: 12px;
    color: #00000099;
}

.badge {
    background-color: #EEEEEE;
    border-radius: 13px;
    padding: 4px 10px;
    font-size: 12px;
    color: #000000DD;
}

.badgeActive {
    background-color: #E2F2FF;
    border-radius: 13px;
    padding: 4px 10px;
    font-size: 12px;
    color: #1973FA;

}

.actionContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.action {
    color: #00000099;
    font-size: 24px;
    padding: 2px;
    cursor: pointer;
}

.paginatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    gap: 16px;
}

.pageControlContainer {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 24px;
    color: #00000099;
    align-items: center;
    cursor: pointer;
}

.pageControl {
    font-size: 18px;
}