.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0;
  min-height: 100vh;
  background-color: #FAFAFA;
  /* background: var(--background-color); */
  /* margin: auto; */
}

.layout {
  position: relative;
  background-color: #FAFAFA;
}
.contactForm{
  display: none;    
}

.headerTitle {
  font-size: 48px;
  color: #000000DE;
  max-width: 700px;
  width: 100%;
}
.mobileSection{
  display: none;
}

.headerDescription {
  font-size: 16px;
  color: #00000099;
  max-width: 580px;
  width: 100%;
}

.headerSubtitle {
  font-size: 30px;
  color: #ffffffcc;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  z-index: 1;
  width: 100%;
}

.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerMask {
  position: relative;
  max-width: 1214px;
  width: 100%;
  height: 450px;
  background-color: transparent;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 40px;
  padding: 80px 32px;
  color: #000000DE;
}

.bannerImg {
  background: url(/en/img/immo/hero_landing_1920x1080.jpg);
  width: 100%;
  height: 450px;
}

.propertiesSection {
  max-width: 1214px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 48px 0px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  flex-wrap: wrap;
}

.listHighlights {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  row-gap: 2rem;
  width: 100%;
  grid-template-columns:
    repeat(auto-fit, minmax(150px, 1fr));
}

.listCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
}

.listReview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 70px;
  flex-wrap: wrap;
  width: 100%;
}

.image {
  max-width: 400px;
  align-self: center;
  padding: 40px;
  flex-shrink: 1;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (width < 700px) {
  .textContainer {

    text-align: center;
    gap: 16px;

  }

  .image {
    max-width: 100%;
    padding: 40px;
  }

  .headerTitle {
    font-size: 24px;
  }

  .headerSubtitle {
    font-size: 18px;
    color: #ffffffcc;
  }

  #travel-img {
    width: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .textContainer {

    text-align: center;
    gap: 32px;

  }

  .headerTitle {
    font-size: 36px;
  }

  .headerSubtitle {
    font-size: 24px;
    color: #ffffffcc;
  }

  #travel-img {
    width: 450px;
    height: 450px;
  }
}

@media (1440px <=width) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    z-index: 1;
    width: 100%;
    background: url(/en/img/immo/hero_landing_1920x1080.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
  }
}

@media (500px <=width <=1440px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    z-index: 1;
    width: 100%;
    background: url(/en/img/immo/hero_landing_1440x900.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
  }
}

@media (width <=500px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    z-index: 1;
    width: 100%;
    background: url(/en/img/immo/hero_landing_320x568.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
  }
  .mobileSection{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .contactForm{
    display: flex;
  }
  .headerMask{
    display: none;
  }
}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}