.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--libling-main-ui-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--libling-main-ui-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-hover-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-hover-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.button:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-pressed-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-pressed-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.buttonLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    color: var(--libling-main-ui-color);
    background-color: transparent;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.card {
    background-color: #fff;
    box-shadow: 0px 2px 4px #1973FA1A;
    border-radius: 10px;
    min-width: 700px;

}

.textIcon {
    position: absolute;
    top: 12.5px;
    left: 16px;
    font-size: 14px;
    color: #00000060;
}

.cardBody {
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardFooter {
    border-top: 1px solid #0000001F;
    padding: 24px 48px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
}

.cardTitle {
    font-size: 21px;
    color: #000000DE;
}

.cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardContentBig {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.multiFormControl {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.multiFormLabel {
    font-size: 18px;
    color: #000000DE;
}

.multiFormLabelDescription {
    font-size: 14px;
    color: #00000060;
}

.buttonTopPadding {
    padding-top: 8px;
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column
}

.mapContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mapTitle {
    font-size: 14px;
    color: #000000DE;
}

.inputRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: space-between;
    gap: 24px;
}

.stepOneInputLeft {
    flex-grow: 1;
}

.inputRowHalf {

    width: 50%;
}

.stepOneInputRight {
    padding-top: 29px;
}

.titleBar {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px #1973FA14;
    padding: 0px 24px;
    gap: 64px;
}

.titleBarTitle {
    color: #000000DE;
    font-size: 21px;
}

.breadcrumsContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;

}

.breadcrumsLink {
    color: #000000DE;
    font-size: 14px;
    text-decoration: underline;

}

.breadcrumsText {
    color: #00000099;
    font-size: 14px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-height: 70vh;
    flex-grow: 1;
}

.stepText {
    color: #00000099;
    font-size: 14px;
}

.stepContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.indicatorContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.indicatorFill {
    background-color: var(--libling-main-ui-color);
    width: 80px;
    height: 2px;
    border-radius: 1px;
}

.indicator {
    background-color: #00000060;
    width: 80px;
    height: 2px;
    border-radius: 1px;
}