.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--libling-main-ui-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--libling-main-ui-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-hover-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-hover-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.button:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-pressed-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-pressed-color);
    box-shadow: 0px 6px 12px #1973FA29;
}
.buttonLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    color: var(--libling-main-ui-color);
    background-color: transparent;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.card {
    background-color: #fff;
    box-shadow: 0px 2px 4px #1973FA1A;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardTitle {
    font-size: 21px;
    color: #000000DE;
}

.cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.titleBar {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px #1973FA14;
    padding: 0px 24px;
    gap: 64px;
}

.titleBarTitle {
    color: #000000DE;
    font-size: 21px;
}

.breadcrumsContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;

}

.breadcrumsLink {
    color: #000000DE;
    font-size: 14px;
    text-decoration: underline;

}

.breadcrumsText {
    color: #00000099;
    font-size: 14px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-height: 70vh;
    flex-grow: 1;
}
.stepText{
    color: #00000099;
    font-size: 14px;
}
.stepContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.indicatorContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.indicatorFill{
    background-color: var(--libling-main-ui-color);
    width: 80px;
    height: 2px;
    border-radius: 1px;
}
.indicator{
    background-color: #00000060;
    width: 80px;
    height: 2px;
    border-radius: 1px;
}