.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 40vw;
    min-width: 220px;
}

.title {
    font-size: .75rem;

}

.subtitle {
    font-size: 32px;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.bigSubtitle {
    font-size: 60px;
}

.content {
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 20px;
}

.list {
    padding-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 20px;
    color: var(--secondary-text-color);
}

.list>li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.image{
    max-width: 400px;
    align-self: center;
    flex-shrink: 1;
}

@media (max-width: 700px) {
    .image{
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }

    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .bigSubtitle {
        font-size: 36px;
    }
}