.contactSection {
    width: 100%;
    height: 675px;
    background: url(/en/img/immo/cta_tu_futuro_comienza_aqui_1440x900.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerContactSection {
    max-width: 1440px;
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 140px;
    gap: 100px;
}

.contactTextContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 470px;
}

.contactTitle {
    color: #fff;
    font-size: 36px;
}

.contactDescription {
    font-size: 16px;
    color: #FFFFFFBD;
}
@media (1440px <=width) {
    .contactSection {
        width: 100%;
        height: 675px;
        background: url(/en/img/immo/cta_tu_futuro_comienza_aqui_1920x1080.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  }
  
  @media (500px <=width <=1440px) {
    .contactSection {
        width: 100%;
        height: 675px;
        background: url(/en/img/immo/cta_tu_futuro_comienza_aqui_1440x900.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }
  
  @media (width <=700px) {
    .contactSection {
        width: 100%;
        height: 460px;
        background: url(/en/img/immo/cta_tu_futuro_comienza_aqui_320x568.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form{
        display: none;
    }
    .innerContactSection {
        width: 100%;
        height: 460px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 24px 16px;
        gap: 100px;
    }
  }