.container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    
    /* border-width: 2px; */
    /* border-style: solid; */
    background-color: var(--mask-color);
}
.description {
    text-align: center;
    font-size: .75rem;
    display: none;
}