
.container{
    display: flex;
    background: var(--mask-color);
    flex-direction: column;
    gap: 1rem;
    justify-content: stretch;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 400px;
    padding: 2rem;
}

.formControl{

    display: flex;
    flex-direction: column;
    gap:.25rem;
    flex-grow: 1;
    width: 100%;
    
}

.formControl > input{
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 100%;
    flex-grow: 1;
}
.formControl > textarea{
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    flex-grow: 1;
    resize: none;
}