.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 166px;
}

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0004;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalTitle {
    font-size: 32px;
}

.dialogContainer {
    min-width: 50vw;
    min-height: 50vw;
    background-color: var(--background-color);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px var(--shadow-color);
    position: relative;
}

.dialogClose {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 10px;
    background-color: var(--shadow-color);
}

.title {
    text-align: center;
    display: none;
}

.description {
    text-align: center;
}

.circleContainer {
    border-radius: 50%;
    width: 166px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8CCBFF;
    overflow: hidden;
}

.container:hover .description {
    transform: translateY(0px);

}

@media (max-width: 700px) {
    .dialogContainer {
        width: 80vw;
        min-height: 80vw;
    }

    .modalTitle {
        font-size: 20px;
    }

    .dialogClose {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem;
        font-size: 1.5rem;
        position: absolute;
        right: 8px;
        top: 8px;
        border-radius: 10px;
        background-color: var(--shadow-color);
    }

    .description {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--mask-color);
        backdrop-filter: blur(1px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 16px;
        transform: translateY(0px);
        opacity: .85;
        border: 2px var(--shadow-color) solid;
    }
}