.wizardContainer {
    background-color: #ffffff;
    width: 650px;
    height: 800px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.selectedPlanContainer {
    height: 800px;
    width: 400px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #EDF0F4;
}
.planContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stepContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    opacity: .6;
}

.stepActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

}

.square {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #1973FA;
}

.stepText {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.formContainer{
    display: flex;
    width: 550px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.form_1{
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all ease-out .5s;
}
.form_2{
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all ease-out .5s;
    transform: translateX(-550px);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title{
    font-size: 22px;
    line-height: 28px;
    color: #000000DE;
    font-weight: 600;
}
.innerForm{
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    gap: 16px;
}
.rowButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 24px;
    width: 100%;
}
.inputRow{
    display: grid;
    grid-template-columns: repeat(2,minmax(265px, 1fr));
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    gap: 16px;
}
.inputColumn{
    display: grid;
}
.listContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.iconList{
    width: 24px;
    height: 24px;
}
.listItem{
    display: flex;
    flex-direction: row;
    gap: 8px;
}