.sliderItem{
    position: relative;
    height: 340px;
}
.sliderImage{
    height: 340px;
    max-width: var(--max-width);
}
.sliderTextContainer{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 140px;
    padding: 60px 0;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
}