.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerContainer{
    padding: 80px 140px;
    width: var(--max-width);
}
.title{
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
}
.subtitle {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 24px;
    text-align: center;
}
.resume{
    font-size: 20px;
    text-align: center;
    font-weight: 400;

}
.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}
.bodyReversed{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 120px;

}
.bodyVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 120px;

}
.bodyVerticalReversed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 24px;
}

/* mobile screens */
@media (max-width: 768px) {
    .body{
        flex-direction: column;
    }
    .bodyReversed{
        flex-direction: column;
    }
        .subtitle {
            font-size: 36px;
            line-height: 48px;
            margin-bottom: 24px;
        }
}