.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.innerContainer{
    padding: 80px 140px;
    width: var(--max-width);
    z-index: 2;
}
.title{
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
}
.subtitle {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 24px;
    text-align: center;
}
.resume{
    font-size: 20px;
    text-align: center;
    font-weight: 400;

}
.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
    
}
.bodyReversed{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    position: relative;
    
}
.bodyVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    position: relative;
    
}
.bodyVerticalReversed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 24px;
}
@media (width <= 500px) {
    .body{
        flex-direction: column;
        text-align: center;
    }
    .bodyReversed{
        flex-direction: column;
        text-align: center;
    }
    .subtitle {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 24px;
    }
    .container{
        width: 100vw;
    }
    .innerContainer{
        width: 100vw;
        padding: 40px 0px;
    }
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 8px;
        padding: 0px 16px;
        padding-bottom: 24px;
    }
}