.buttonMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--libling-main-ui-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--libling-main-ui-color);
    box-shadow: 0px 6px 12px #1973FA29;
    cursor: pointer;
}

.miniTitle {
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color: #00000099;
}

.bigTitle {
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
    color: #00000099;
    padding-bottom: 8px;
}
.boldTitle {
    font-size: 45px;
    font-weight: 600;
    line-height: 52px;
    color: #00000099;
}

.mediumTitle {
    font-size: 42px;
    font-weight: 400;
    line-height: 70.5px;
    text-align: left;
    color: #404D59;

}

.regularTitle {
    font-size: 33px;
    font-weight: 400;
    line-height: 49.5px;
    color: #000000DE;
}

.smallTitle {
    font-size: 23px;
    font-weight: 600;
    line-height: 34.5px;

}
.smallMediumTitle{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}
.tinyMediumTitle{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.tinyTitle {
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    letter-spacing: 0.0015em;
    color: #000000DE;
}

.regularSubtitle {
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    letter-spacing: 0.0015em;
    text-align: center;
    color: #00000099;
}

.subtitle {
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    letter-spacing: 0.0015em;
    color: #00000099;
}

.text {
    font-size: 16px;
    color: #00000099;
    font-weight: 400;
    line-height: 24px;
}

.commonText {
    font-size: 16px;
    color: #00000099;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
}

.smallText {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #00000099
}

.textPrimary {
    color: var(--primary-700);
}

.textFaded {
    color: var(--text_38);
}

.textNegative {
    color: var(--text-negative);
}

.buttonMain:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-hover-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-hover-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.buttonMain:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--button-flat-pressed-color);
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--button-flat-pressed-color);
    box-shadow: 0px 6px 12px #1973FA29;
}

.buttonOutline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    color: #000000DE;
    background-color: transparent;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid #0000001F;
    cursor: pointer;
}

.buttonLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    color: var(--libling-main-ui-color);
    background-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
}

.checkboxControl {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}

.checkboxControl input {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #00000099;
    position: relative;
}

.checkboxControl input:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 1.5px;
    color: #fff;
}

.checkboxControl input:active,
.checkboxControl input:checked,
.checkboxControl input:checked:active {
    border-radius: 2px;
    background-color: var(--libling-main-ui-color);
    border: 2px solid var(--libling-main-ui-color);
    color: #fff;
}